@import url(../../../../../index.css);

.StoryInstance {
    position: relative;
}

.StoryVideo {
    width: 100%;
    height: 100%;
}

.StoryVideoBlock {
    width: calc(90pt * 3);
    height: calc(160pt * 3);
    position: relative;
    border-radius: var(--primary-border-radius);
    overflow: hidden;
}

.StoryVideoBlock::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
}

.StoryVideoBlock.ActiveStory::after {
    content: none;
}